<launch>

  <node pkg="hokuyo_node" type="hokuyo_node" name="base_hokuyo_node2">
    <param name="port" type="string" value="/dev/ttyACM1" />
    <remap from="scan" to="scan_base2" />
    <param name="frame_id" type="string" value="base_laser_link" />
    <param name="min_ang" type="double" value="-0.6" />
    <param name="max_ang" type="double" value="0.9" />
    <param name="skip" type="int" value="0" />
    <param name="intensity" value="false" />
  </node>

</launch>

