
  
  <!-- Launch the usb camera acquisition node -->
  <node pkg="cv_camera" type="cv_camera_node" name="cv_camera" output="screen">      
    <param name="image_width" value="640" />
    <param name="image_height" value="480" />
  </node>
  
  <!-- Launch image_proc -->
  <node pkg="image_proc" type="image_proc" name="image_proc" output="screen">      
    <env name="ROS_NAMESPACE" value="/cv_camera" />
    <!--
    <remap from="/cv_camera" to="/camera" />
    <remap from="/camera/rgb" to="/camera" />
    -->
    <param name="camera_prefix" value="/cv_camera" />
  </node>

  <!-- Launch the tracker -->
  <node pkg="comp4" type="bf_state.py" name="comp4" output="screen" required="true" />
  <param name="/pkg_path" value="$(find comp4)" />



</launch>
